body{
    background-color: black;
}
div{
    width: 50%;
    margin: auto;
    text-align: center;
}
img{
    width: 300px;
   border: solid white 5px;
}
h1{
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;color: #fff;
  }
  p{
    color: #fff;
  }
  h1{
    text-transform: uppercase;
  }
  